@page "/"
@using ExpressionCalculator
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Filters
@using Microsoft.AspNetCore.Mvc.ModelBinding.Validation

<PageTitle>Index</PageTitle>

<h1 style="text-align: center">Derivadas Parciales</h1>

<div style="display: flex; justify-content:center;">
    <div style="display:inline-flex;">
        <input class="search" @bind="ExpressionValue" @bind:event="oninput" placeholder="Introduzca su expresion" @onkeyup="DeterminateVariables">

        @if (ExpressionValue != "")
        {
            <button class="btn-eliminate" @onclick="() =>{ExpressionValue = s; ExpressionDerivate = s;ExpressionTaylor = s;ExpressionIntegral = s;}">⨯</button>
        }
        else
        {
            <button class="btn-eliminate"></button>
        }

        <button class="btn-search" @onclick="() => { _expression=true;}">d(x)</button>

    </div>

</div>

@if (_expression)
{
    <div style="display: flex; justify-content: center">
        <div style="display: flex; justify-content: center;">
            <button class="Derivate1" @onclick="Derivate" >Derivar respecto a :</button>
            <EditForm Model="Variables">
                <InputSelect @bind-Value="VariableToDerivate" class="InputSelect">
                    @foreach (var item in Variables)
                    {
                        <option value="@item.Item1">@item.Item1</option>
                    }
                </InputSelect>
            </EditForm>
        </div>
        <div style="width: 30px;"></div>
        <div style="display: flex; justify-content: center;">
            <button class="Derivate1" @onclick="Taylor" >Aprox por Taylor</button>
            <button class="Derivate1R" @onclick="()=>{_selectVector = true;}">Seleccionar Vector</button>
            
        </div>
        <div style="width: 30px;"></div>
        <div style="display: flex; justify-content: center;">
            <button class="Derivate2" @onclick="Integrate">Integrar de 0 a 1</button>
        </div>
    </div>
}

<br/>

@if (_selectVector)
{
    <div style="display: flex; justify-content: center">
        @foreach(var item in Variables)
        {
            <label style="width: 30px; height: 30px;">@item.Item1</label>
            <input type="number" @bind="aprox[item.Item2]" style="width: 50px; height: 30px;"/>
            <br/>
            <div style="width: 20px;"></div>
        }
    </div>
}

<br/>

@if (ExpressionDerivate != "")
{
    <div style="display: flex; justify-content: center;">
        <h5>Derivada</h5>
    </div>
}

<div style="display: flex; justify-content: center;">
    <label>@ExpressionDerivate</label>
    <br/>
</div>

@if (ExpressionTaylor != "")
{
    <div style="display: flex; justify-content: center;">
        <h5>Taylor</h5>
    </div>
}

<div style="display: flex; justify-content: center;">
    <label>@ExpressionTaylor</label>
    <br/>
</div>

@if (ExpressionIntegral != "")
{
    <div style="display: flex; justify-content: center;">
        <h5>Integral</h5>
    </div>
}

<div style="display: flex; justify-content: center;">
    <label>@ExpressionIntegral</label>
    <br/>
</div>

@code
{
    private string ExpressionDerivate { get; set; } = "";
    
    private string ExpressionTaylor { get; set; } = "";
    
    private string ExpressionIntegral { get; set; } = "";

    private bool _expression = false;

    private bool _selectVector;

    private string s = "";
    
    private double[] aprox = Array.Empty<double>();
    
    private string ExpressionValue { get; set; } = "";

    private List<(char,int)> Variables { get; set; } = new List<(char,int)>();

    private char VariableToDerivate { get; set; } = '0';

    private void Derivate()
    {
        Expression func = Expression.CreateExpression(ExpressionValue, Gui.operators, Gui.less_priority);
        Expression expression = func.Derivate(VariableToDerivate).Evaluate(new Dictionary<char, double>());
        ExpressionDerivate = expression.ToString(Gui.less_priority);
    }

    private void Integrate()
    {
        ExpressionIntegral = "";
        Expression func = Expression.CreateExpression(ExpressionValue, Gui.operators, Gui.less_priority);
        double answer = IntegralDefinida.Integra(func, 0, 1);
        Console.WriteLine(answer);
        ExpressionIntegral = answer.ToString();
    }

    private void DeterminateVariables()
    {
        int first = Variables.Count;
        Variables = Gui.DeterminateVariables(ExpressionValue);
        aprox = new double[Variables.Count];
        int after = Variables.Count;
        ExpressionDerivate = "";
        ExpressionTaylor = "";
        ExpressionIntegral = "";

        // if (after > first) aprox.Add(0);
        // else if (first > after) aprox.RemoveAt(aprox.Count - 1);
    }

    private void Taylor()
    {
        _selectVector = false;
        
        Expression func = Expression.CreateExpression(ExpressionValue, Gui.operators, Gui.less_priority);
        ExpressionTaylor = "";

        Taylor result = new Taylor(func);
        double[] n = aprox;

        IEnumerable<Expression> sum = result.N_Terms(5, n);
        foreach (var exp in sum)
        {
            ExpressionTaylor += " + " + exp.ToString(Gui.less_priority);
        }
        ExpressionTaylor = ExpressionTaylor.Substring(3, ExpressionTaylor.Length - 3);
    }

    private string Print(List<double> x)
    {
        return String.Join(",", x);
    }

}